* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  outline: none;
}

.p {
  border: transparent;
  background-color: transparent;
  text-align: center;
  font-weight: bolder;
}

h2 {
  color: rgb(21, 52, 72);
  font-weight: bold;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://images.ctfassets.net/yewqr8zk7e5s/migrated-4572/61ee98fb5087c9873948b5473cfafb16/encryption-encoding-hashing.jpg?fm=webp&w=1920&q=50');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.add-wall {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.add-inputs, .delete-inputs {
  padding-left: 1em;
  display: block;
  width: 100%;
  height: 2em;
  margin-bottom: 2vh;
  color: rgb(21, 52, 72);
}



.add-submit {
  font-family: sans-serif;
  background-color: white;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  font-weight: 900;
}

.add-submit:hover {
  transition: ease 0.2s;
  background-color: rgb(21, 52, 72);
  color: white;
}

.add-window {
  color: white;
  background-color: #B5CB99;
  padding: 2em;
  position: fixed;
  outline: solid black thin;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 15em;
}

.add-window h2 {
  margin-bottom: 1em;
  text-align: center;
}

.add-cancel {
  position: absolute;
  color: red;
  top: -0.5em;
  right: -0.5em;
  height: 2em;
  width: 2em;
}

.selection {
  width: 6em;
  display: none;
}

.table-container {
  width: 90vw;
  height: 80vh;
  background-color: #006769;
  border-radius: 10px;
  overflow: auto;
}

table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  height: 2.8em;
  padding: 0.77em 1.2em;
  font-weight: bold;
}

th {
  font-weight: bold;
  position: sticky;
  top: 0;
  background: rgb(175, 209, 152);
  color: #006769;
}

tbody tr:nth-child(2n) {
  background-color: rgb(243, 242, 242);
  font-weight: thin;
  /* color: #006769; */
}


.action-btn {
  height: 2.2em;
}

.add-record {
  background-color: transparent;
  background-image: url("../image/record.svg");
}

.remove-record {
  background-color: transparent;
  background-image: url("../image/trash.svg");
}

.password-gen {
  background-color: transparent;
  background-image: url("../image/pass.svg");
}

.logout {
  background-color: transparent;
  background-image: url('../image/logout.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.action-btn {
  width: 2.4em;
  height: 2.4em;
  border: 0px;
  background-position: center center;
  transition: 0.2s ease;
}


.action-btn:hover {
  transform: scale(1.3);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  padding: 2vh;
}

.btn-set1 {
  display: flex;
  align-items: center;
}

.btn-set1 input {
  margin-right: 10px;
}


.delete-window {
  color: white;
  background-color: #B5CB99;
  padding: 2em;
  position: fixed;
  outline: solid black thin;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 15em;
}

.delete-wall {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.delete-window h2 {
  margin-bottom: 1em;
  text-align: center;
}

.delete-submit:hover {
  transition: ease 0.2s;
  background-color: rgb(21, 52, 72);
  color: white;
}

.delete-cancel {
  position: absolute;
  color: red;
  top: -0.5em;
  right: -0.5em;
  height: 2em;
  width: 2em;
}


 .password-generator-wall {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.password-generator-window {
  background-color: #B5CB99;
  padding: 2em;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: flex-start; */
  width: 25vw;
  min-width: 20em;
  max-width: 50vw;
}

.password-generator-window h2 {
  margin-bottom: 1em;
  text-align: center;
}

.password-generator-window form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.checkbox-container label {
  margin: 0.5em 0;
}

.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.password-generator-window label {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #01204E;
}

.password-generator-window input[type="checkbox"],
.password-generator-window input[type="range"] {
  margin-right: 0.5em;
}

.button-container {
  margin-bottom: 1em;
}

.password-generator-window button {
  background-color: #0d183b;;
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password-generator-window button:hover {
  background-color: #45a049;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.password-generator-window input[type="text"] {
  width: 90%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.password-generator-window .close-button {
  background-color: #f44336;
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.5em;
  border-radius: 25%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password-generator-window .close-button:hover {
  background-color: #d32f2f;
}



@media only screen and (max-width: 540px) {

  body {
    display: block;
    background-image: url('https://images.ctfassets.net/yewqr8zk7e5s/migrated-4572/61ee98fb5087c9873948b5473cfafb16/encryption-encoding-hashing.jpg?fm=webp&w=1920&q=50');
  }

  .navigation,
  .table-container {
    width: 100vw;
    margin: 0px;
    border: 0px none;
  }

  .navigation {
    /* background-color: #FFC374; */
  }

  .table-container {
    height: 90vh;
  }

  .add-window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .add-cancel {
    font-family: sans-serif;
    background-color: white;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    font-weight: 900;

    position: static;
  }


  .add-cancel:focus {
    border: 3px #FFC374 solid;
    color: #FFC374;
  }
}