*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Heebo', sans-serif;
    outline: none;
  }
  
  .p{
    border: transparent;
    background-color: transparent;
    text-align: center;
    font-weight: bolder;
  }

  h2 {
    color: rgb(21, 52, 72);
    font-weight : bold ;
  }
  
  body{
    /* background-color: rgb(21, 52, 72); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-direction: column;
    background-image: url('https://images.ctfassets.net/yewqr8zk7e5s/migrated-4572/61ee98fb5087c9873948b5473cfafb16/encryption-encoding-hashing.jpg?fm=webp&w=1920&q=50');
            background-size: cover; /* Cover the entire background */
            background-repeat: no-repeat; /* Prevent background from repeating */
            background-position: center; /* Center the background image */
            height: 100vh; /* Set height to fill the viewport */
            margin: 0; /* Remove default margin */
            padding: 0;
  }
  
  .add-wall{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(165, 193, 23, 0.534);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .add-inputs{
    padding-left: 1em;
    display: block;
    width: 100%;
    height: 2em;
    margin-bottom: 2vh;
    color:rgb(21, 52, 72) ;
  }



  .add-submit {
    font-family: sans-serif;
    background-color: white;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    font-weight:900;
  }
  
  .add-submit:hover {
    transition: ease 0.2s;
    background-color: rgb(21, 52, 72);
    color: white;
  }
  
  .add-submit:active {
    border: 3px rgb(24, 233, 24) solid;
    transition: ease 0.2s;
  }
  
  .add-submit:focus {
    border: 3px #DD761C solid;
    color: #DD761C
  }
  
  .add-window{
  
    color: white;
    background-color: #FFC374; 
    padding: 2em;
    position: fixed;
    outline: solid black thin;
  
    display: flex;
    flex-direction: column;
  
    width: 30vw;
    min-width: 15em;
  }
  
  .add-cancel{
    position: absolute;
    color: red;
    top: -0.5em;
    right: -0.5em;
    height: 2em;
    width: 2em;
  }
  
  .selection{
    width: 6em;
    display: none;
  }
  
  .table-container{
    border: thin white solid;
    width: 90vw;
    height: 80vh;
  
    background-color: #FFC374; 
  
    /* to make the table scrollable : start */
    overflow: auto;
    /* to make the table scrollable : end */
  }
  
  table{
    width: 100%;
    font-size: 0.9em;
    /* to remove the column gaps in the table */
    border-collapse: collapse;
  }
  
  th, td{
    text-align: center;
    height: 2.8em;
    padding: 0.77em 1.2em;
  }
  
  td{
    border-bottom: thin solid rgb(207, 207, 207);
  }
  
  th{
    font-weight: bold;
    position: sticky;
    top: 0;
    background: rgb(175, 209, 152);
    color: white;
  }
  
  /* apply css to every 2 tr child of tbody  */
  tbody tr:nth-child(2n){
    background-color: rgb(243, 242, 242);
    font-weight: thin;
  }
  
  .navigation{  
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
    padding: 2vh; 
    border: 1px white solid;
  }
  
  .search-bar, .action-btn{
    height: 2.2em;  
  }
  
 
  
  .add-record {
    background-color: transparent;
    background-image: url("../image/record.svg");
  }
  
  .remove-record {
    background-color: transparent;
    background-image: url("../image/trash.svg");
  }
  
  .action-btn{
    width: 2.4em;
    height: 2.4em;
    border: 0px;
    background-position: center center;
    transition: 0.2s ease;
  }
  
  .logout{
    background-color: transparent;
    background-image: url('../image/logout.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position:bottom;
  }
  
  .menu-button {
    background-image: url("../image/menu-button.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
  }
  
  .action-btn:hover{
    transform: scale(1.3);
  }
  
  .add-record:hover{
    background-image: url("../image/unlock.svg");
  }
  
  .remove-record:hover{
    background-image: url("../image/trash-open.svg");
  }
  
  .btn-set2{
    display: none;
  }
  
  @media only screen and (max-width: 540px){
  
    body{
      display: block;
    }
  
    
  
    .navigation, .table-container{
      width: 100vw;
      margin: 0px;
      border: 0px none;
    }
  
    .navigation {
      background-color: #FFC374; 
    }
  
    .table-container{
      height: 90vh;
    }
  
    .add-window{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
    }
  
    .add-cancel {
      font-family: sans-serif;
      background-color: white;
      border: 1px rgb(255, 255, 255) solid;
      border-radius: 4px;
      height: 30px;
      width: 100%;
      font-weight:900;
  
      position: static;
    }
    
    .add-cancel:hover {
      transition: ease 0.2s;
      background-color: rgb(21, 52, 72);
      color: white;
    }
    
    .add-cancel:active {
      border: 3px green solid;
      transition: ease 0.2s;
    }
    
    .add-cancel:focus {
      border: 3px #FFC374 solid;
      color: #FFC374; 
    }
  }